server {
        listen ${PORT};
        server_name  ${DOMAIN};
        root   /usr/share/nginx/html/crm;
        autoindex on;
        index index.php;

        location / {
            try_files $uri $uri/ /index.php;
        }

        location ~ \.php$ {
            fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
            fastcgi_pass php:9000;
            fastcgi_index index.php;
            include fastcgi_params;
        }

        location ~ /\. {
            deny all;
        }

        if (!-e $request_filename) {
            rewrite ^/(.*)$ /index.php?/$1 last;
            break;
        }

        if (-d $request_filename) {
                    rewrite ^/(.*)$ /index.php?/$1 last;
                    break;
        }

        location = /favicon.ico { access_log off; log_not_found off; }
        location = /robots.txt  { access_log off; log_not_found off; }
}
